<div class="container">
    <h2>Orders List</h2>
  
    <div *ngFor="let order of orders; let orderIndex = index" class="order-card">
      <h3>Order #{{ orderIndex + 1 }}</h3>
      <p><strong>Shipping id:</strong> {{ order.shipping }}</p>
      <p><strong>Order Date:</strong> {{ order.order_date }}</p>
      <p><strong>Total Price:</strong> ${{ order.total_price }}</p>
  
      <div *ngFor="let product of order.products; let productIndex = index" class="product-card">
        <h4>Product: {{ product.P_Name }}</h4>
        <p><strong>Description:</strong> {{ product.P_description }}</p>
        <p><strong>Price:</strong> ${{ product.P_Price }}</p>
        <p><strong>Quantity:</strong> {{ order.quantities[productIndex] }}</p>
      </div>
    </div>
  </div>
  